/* Add a color top border */
#navigator-toolbox {
  /* border-top: solid 25px #222D32 !important; */
}

/* Hide top tabs */
#tabbrowser-tabs {
    visibility: collapse !important;
}

#sidebar-box {
    overflow-x: hidden;
    min-width: 30px !important;
    max-width: 30px !important;
    transition: all 0.25s ease 1s !important;
}

#sidebar-box:hover {
    min-width: 200px !important;
    max-width: 200px !important;
} 

#sidebar-title {
  font-size: 14px;
}

.sidebar-header, #sidebar-header{
  padding: 0 !important;
}

#webext-panels-browser {
  margin-top: -40px !important;
}

/* Hide urlbar actions from addons */
.webextension-page-action {
  display: none !important;
  list-style-image: none !important;
}

/* Hide the lock and website owener */
#identity-box {
  display: none;
}

/* Fix address padding after removing identity box */
.urlbar-input-box {
  padding-left: 10px;
}

/* Remove the go arrow */
.urlbar-go-button {
  list-style-image: none !important;
  width: 0 !important;
}

.urlbar-history-dropmarker,
.autocomplete-history-dropmarker {
  display: none !important;
}

#urlbar[focused="true"] {
  border: none !important;
}

/* Hide the three dot action button */
#pageActionButton {
  display: none !important;
  list-style-image: none !important;
}

/* Adjust the hamburger menu */
photonpanelmultiview .panel-subview-body{margin:0!important}
#appMenu-zoom-controls, #appMenu-zoom-controls+toolbarseparator, #appMenu-edit-controls,#appMenu-edit-controls+toolbarseparator{display:none}
#appMenu-popup .panel-arrowcontent{margin:4px 4px 0!important;padding:0!important}
#appMenu-popup .panel-subview-body{margin:-6px 0}
#appMenu-mainView{padding:0!important}
photonpanelmultiview .PanelUI-subView .toolbaritem-combined-buttons>.subviewbutton:not(#appMenu-zoomReset-button):not(#appMenu-fxa-icon){padding:10px!important}
#appMenu-quit-button{padding:10px!important;margin-top:-6px!important}
#appMenu-fxa-container{margin-bottom:-6px;margin-inline-end:0!important}
#appMenu-fxa-container toolbarseparator[orient='vertical'],#appMenu-zoom-controls toolbarseparator[orient='vertical']{margin-inline-start:0!important;margin-inline-end:0!important}
#appMenu-fxa-label{padding:10px 28px!important}
#appMenu-fxa-avatar{border-radius:50%}
#appMenu-fxa-icon{padding:11px 11px 10px 10px!important}
