! Xft settings
Xft.dpi:                    96
Xft.autohint:               0
Xft.antialias:              1    
Xft.hinting:                false 
Xft.hintstyle:              hintslight
Xft.rgba:                   rgb
Xft.lcdfilter:              lcddefault

! Rofi
rofi.font: Roboto 18
rofi.eh: 2
rofi.separator-style: none
rofi.hide-scrollbar: true
rofi.bw: 0
rofi.fullscreen: true
rofi.padding: 320
